*{
    margin-top: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nama{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 18px;
}

@media (max-width:600px){
    .nama{
        color: blue;
        font-size: 14px;
    }
}