#chat-list {
    /* background-color: yellow; */
    width: 400px;
    /* border: 1px solid black; */
    display: none;
}

#chat-content {
    /* border-left: 1px solid black; */
    /* clear: both !important; */
    background: #f1f1f1;
    /* background: blue; */
    display: none !important;
    width: calc(100% - 400px);
    height: calc(100vh - 70px);
}

#chat-content .chat-row {
    width: 100%;
    display: flex;
}

#chat-content .chat-row.message-in {
    justify-content: flex-start !important;
}
#chat-content .chat-row.message-out {
    justify-content: flex-end !important;
}
#chat-content .chat-row.message-out .message-time {
    text-align: end;
}

#chat-content #chat-content-body {
    padding-bottom: 100px !important;
    height: calc(100% - 60px);
    overflow: auto;
}

#chat-content #chat-content-body .chat-bubble {
    max-width: 80% !important;
    margin-bottom: 16px;
}

#chat-content #chat-content-body .chat-bubble-sender {
    max-width: 80%;
    margin-bottom: 16px;
}

#chat-content #chat-content-body .chat-bubble:last-child {
    margin-bottom: 16px;
}

#chat-content #chat-content-body .chat-bubble-sender:last-child {
    margin-bottom: 16px;
}

#chat-content #chat-content-body .chat-bubble-sender .message-time {
    text-align: end;
}

.message-time {
    padding: 0;
    margin-bottom: 6px;
}

.message-content {
    background-color: #fff;
    margin: 0;
    padding: 16px;
    border-radius: 10px;
    border-top-left-radius: 0;
    word-wrap: break-word;
}

.message-content.sender {
    background-color: #fff;
    margin: 0;
    padding: 16px;
    border-radius: 10px;
    border-top-right-radius: 0;
    word-wrap: break-word;
}

#chat-list.active {
    display: initial !important;
}

#chat-content.active {
    display: initial !important;
}

.chat-content-header {
    background-color: #0034f0;
    height: 60px;
    color: #fff;
    width: calc(100%) !important;
}

.chat-content-header .summary .option {
    font-size: 14px;
}

#chat-content-footer {
    width: calc(100% - 400px);
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height: 70px;
}

.chat-content-picture {
    height: 40px;
    width: 40px;
    border: 1px white solid;
}

.chat-item {
    border-top: 1px solid f1f1f1;
    cursor: pointer;
}

.chat-item:hover {
    background-color: #f1f1f1;
}

.chat-item:last-child {
    border-top: 1px solid f1f1f1;
    border-bottom: 1px solid f1f1f1;
}

.chat-item .chat-profile-picture {
    height: 50px !important;
    width: 50px !important;
    /* object-fit: cover !important; */
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.chat-item .chat-name {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.chat-item .chat-last-chat {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#chat-btn-back {
    padding: 6px;
    cursor: pointer;
    display: none;
}

.active {
    display: initial !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(241, 241, 241, 0);
}

::-webkit-scrollbar-thumb {
    background: #c0bfbf;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c0bfbf;
}

@media (max-width: 412px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    /* #chat-list {
        width: 100%;
    }
    #chat-list {
        display: initial !important;
    }
    #chat-content {
        width: 100% !important;
    }
    #chat-list.active {
        width: 100%;
    }
    #chat-content {
        display: none !important;
    }
    #chat-content.active {
        width: 100% !important;
    }
    #chat-content-footer {
        width: 100%;
    } */
}

@media (max-width: 912px) {
    #chat-list {
        width: 100% !important;
    }
    #chat-content {
        width: 100% !important;
    }
    #chat-content.active {
        width: 100% !important;
    }
    #chat-content-footer {
        width: 100%;
    }
}
